
    <title>Landmark Recognition</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="page-header" style="text-align: center;">
                <h1>랜드마크 이미지 인식</h1>
                <DIV class='content_body'>
                    <form method="post" action="{% url 'imageupload' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% bootstrap_form fileuploadForm %}
                        <input type="submit" class="btn btn-primary col-12" value="이미지 업로드">
                        </form>
                </DIV> <!-- content_body END -->

                <DIV id='panel' style='display: none; margin: 10px auto; text-align: center; width: 60%;'></DIV>
            </div>
        </div>


        </div>
        <div class="panel-footer">
            Landmark Recognition Project. Made By JinWoo Kim
        </div>
    </div>
</body>
</html>